<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>
<h1>hello {{obj}}</h1>
<form action="find/" method="get">

    <input type="text" name="num1" placeholder="number 1 ">
    <input type="text" name="num2" placeholder="number 2">
    <input type="submit">

</form>

<!--<form action="sub/" method="get">-->
<!--&lt;!&ndash;    <input type="text" name="num3" placeholder="number 3 ">&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" name="num4" placeholder="number 4">&ndash;&gt;-->
<!--    <input type="submit">-->
<!--</form>-->
<!--&lt;!&ndash;<form action="div/" method="get">&ndash;&gt;-->
<!--    <input type="text" name="num5" placeholder="number 5 ">-->
<!--    <input type="text" name="num6" placeholder="number 6">-->
<!--    <input type="submit">-->
<!--</form>-->
</body>
</html>